<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Code"
        tools:targetApi="31">
        <activity
            android:name=".SelectionActivity"
            android:label="@string/demo_selection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".subjects.SubjectsSelectionActivity"
            android:label="@string/subjects_selection">
        </activity>

        <activity
            android:name=".subjects.demo.operators.publishSubjectDemo.PublishSubjectDemoActivity"
            android:label="@string/publish_subject">
        </activity>

        <activity
            android:name=".subjects.demo.operators.behaviourSubjectDemo.BehaviourSubjectDemoActivity"
            android:label="@string/behaviour_subject">
        </activity>

        <activity
            android:name=".subjects.demo.operators.replaySubjectDemo.ReplaySubjectDemoActivity"
            android:label="@string/replay_subject">
        </activity>

        <activity
            android:name=".subjects.demo.operators.asyncSubjectDemo.AsyncSubjectDemoActivity"
            android:label="@string/replay_subject">
        </activity>

        <activity
            android:name=".subjects.demo.implementationDemo.collageDemo.CollageDemoActivity"
            android:label="@string/collage_demo">
        </activity>


    </application>

</manifest>