<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.SampleApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Code"
        tools:targetApi="31">
        <activity
            android:name=".SelectionActivity"
            android:label="@string/demo_selection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".subjects.SubjectsSelectionActivity"
            android:label="@string/subjects_selection">
        </activity>

        <activity
            android:name=".subjects.publishSubjectDemo.PublishSubjectDemoActivity"
            android:label="@string/publish_subject">
        </activity>

        <activity
            android:name=".subjects.behaviourSubjectDemo.BehaviourSubjectDemoActivity"
            android:label="@string/behaviour_subject">
        </activity>

        <activity
            android:name=".subjects.replaySubjectDemo.ReplaySubjectDemoActivity"
            android:label="@string/replay_subject">
        </activity>

        <activity
            android:name=".subjects.asyncSubjectDemo.AsyncSubjectDemoActivity"
            android:label="@string/replay_subject">
        </activity>

        <activity
            android:name=".fullImplementations.collageDemo.CollageDemoActivity"
            android:label="@string/collage_demo">
        </activity>

        <activity
            android:name=".specialObservables.SpecialObservableSelectionActivity"
            android:label="@string/special_observable">
        </activity>

        <activity
            android:name=".specialObservables.singleObservable.SingleObservableActivity"
            android:label="@string/single_observable">
        </activity>

        <activity
            android:name=".specialObservables.completableObservable.CompletableObservableActivity"
            android:label="@string/completable_observe">
        </activity>

        <activity
            android:name=".specialObservables.maybeObservable.MaybeObservableActivity"
            android:label="@string/maybe_observe">
        </activity>

        <activity
            android:name=".operators.OperatorsSelectionActivity"
            android:label="@string/operators_selection">
        </activity>

        <activity
            android:name=".operators.filterOperators.FilterOperatorsSelectionActivity"
            android:label="@string/filter_operators_selection">
        </activity>

        <activity
            android:name=".operators.filterOperators.operators.distinctUntilChangedNormal.DemoDistinctUntilChangedNormalActivity"
            android:label="@string/distinct_until_changed_normal">
        </activity>

        <activity
            android:name=".operators.filterOperators.operators.distinctUntilChangedCustom.DemoDistinctUntilChangedCustomActivity"
            android:label="@string/distinct_until_changed_custom">
        </activity>

        <activity
            android:name=".operators.transformOperators.TransformOperatorsSelectionActivity"
            android:label="@string/transform_operators_selection">
        </activity>

        <activity
            android:name=".operators.transformOperators.operators.flatmapOperator.FlatmapActivity"
            android:label="@string/flat_map_activity">
        </activity>

        <activity
            android:name=".operators.transformOperators.operators.switchmapOperator.SwitchMapActivity"
            android:label="@string/switch_map_activity">
        </activity>

        <activity
            android:name=".operators.transformOperators.operators.materializeOperator.MaterializeActivity"
            android:label="@string/materialize_operator">
        </activity>

        <activity
            android:name=".fullImplementations.gitFeedDemo.GitFeedActivity"
            android:label="@string/git_feed_demo">
        </activity>

        <activity
            android:name=".operators.combiningOperators.CombiningOperatorsSelectionActivity"
            android:label="@string/combining_operators_selection">
        </activity>

        <activity
            android:name=".operators.combiningOperators.operators.startsWith.DemoStartsWithActivity"
            android:label="@string/starts_with_demo">
        </activity>

        <activity
            android:name=".operators.combiningOperators.operators.concat.DemoConcatActivity"
            android:label="@string/concat_demo">
        </activity>

        <activity
            android:name=".operators.combiningOperators.operators.concatWith.DemoConcatWithActivity"
            android:label="@string/concat_with_demo">
        </activity>

        <activity
            android:name=".operators.combiningOperators.operators.concatMap.DemoConcatMapActivity"
            android:label="@string/concat_map_demo">
        </activity>

        <activity
            android:name=".operators.combiningOperators.operators.merge.DemoMergeActivity"
            android:label="@string/merge_demo">
        </activity>


    </application>

</manifest>